@media (max-width:1280px){
    .welcome > .container{
        
      
    }
    
}


@media (max-width:1024px){
    .menuItems{
        width:420pt;   
    }
    .fotoAmblema{
        width: 20pt;
    } 
    .buttonrecord{
        width: 80pt;
        height: 25pt;
        font-size: 8pt;
    }
    .footer {
        padding: 0pt 20pt 0pt 20pt;
    }
    .menuItem{
        font-size: 10pt;
        justify-content: space-between;
    }
    .welcome{
        background-size:contain;
        }
    
   


}
@media (max-width:768px){
    .menuItems{
        width: 340pt;
    }

}
@media (max-width:640px){
    .menuItems{
        width: 265pt;
        display: flex;
    }
    .buttonrecord{
        width: 70pt;
        height: 25pt;
        font-size: 7pt;
    }
}

@media (max-width:520px){
    .menuItems{
        width:150pt;
        display: flex;
        flex-wrap:wrap;
        justify-content:space-evenly
    }


}