@import url('https://fonts.cdnfonts.com/css/proxima-nova-2');
 
body{
    display: flex;
    justify-content: center;
    align-items: start;
    height: 100vh;
    background: #162831;
}

header{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding-top:30pt ;
    width:1000pt;
    height: 60pt;
}

.ListHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type:none;
    width: 500pt;
}

.LestHeaderLI{
    color:#FFFFFF;
    font-size: 12pt;
    font-family: 'Proxima Nova', sans-serif;
}

.buttonrecord{
    font-family: 'Proxima Nova', sans-serif;
    background: #018ABE;
    border-radius: 3pt;
    width: 155px;
    height: 36px;
    color: white;
    border: none;
}