.sliderreleative{
  position: relative;
  height: 100%;
}

.slider-out{

  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.sliderSlide{
      display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 1000pt;
}


.swiper {

  padding-bottom: 50pt;
}

.swiper-slide {
  color: white;
  border: none;
  display: flex;
  border-radius: 10pt;
  justify-content: center;
  padding: 0pt 30pt 0pt 30pt ;
  flex-direction: column;
  background: var(--accent, #018ABE);
  background-position: center;
  background-size: cover;
  width: 500pt;
  height: 280pt;
}

.sliderTitle{
  font-size: 14pt;
  padding: 0pt 0pt 20pt 0pt;
}

.swiper-slide img {
  display: block;
  width: 100%;
}