*{
    margin: 0pt;
    padding: 0pt;
}


.divSession{
    display: flex;
    flex-direction: row;
}

@import url('https://fonts.googleapis.com/css2?family=El+Messiri&display=swap');
.topPhotos{
    display: flex;
    gap: 26px;
}

.bottomPhotos{
    display: flex;
    gap: 26px;
}

.secondaryPhotosSeons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mainPhotoSession{
    display: flex;
    gap: 26px;
    padding-right:20pt;
    position: relative; 
}

.slide2{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.decorationTitleLeft{
    background: #018ABE;
    border-radius: 0px 50px;
    width: 28px;
    height: 14px;
    margin-right: 30pt;
}

.decorationTitleRight{
    width: 28px;
    height: 14px;
    background: #018ABE;
    border-radius: 0px 50px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    margin-left: 30pt;
}

.divTitleSession{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 65pt;
    padding-top: 65pt;
}

.titleSession{
    color: white;
}

.mainPhotoSessionTitle {
    color:white;
    position: absolute;
    bottom: 20pt;
    left:36pt;
    font-size: 17pt;
}


.topPhotos1, .bottomPhotos1,.topPhotos2,.bottomPhotos2{

    position: relative; 
}

.topPhotosText1,.topPhotosText2{
    color: white;
    position: absolute;
    bottom: 30pt;
    left:36pt;
    font-size: 17pt;
    font-family: 'El Messiri', sans-serif;
    font-style: normal;
}

.bottomPhotosText2,.bottomPhotosText2{
    color: white;
    position: absolute;
    bottom: 30pt;
    left:36pt;
    font-size: 17pt;
    font-family: 'El Messiri', sans-serif;
    font-style: normal;
}