

.aboutCompany > .conteiner{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.massageRitmStyle{
    display: flex;
    width: 600pt;
    flex-direction: column;
    align-items: center;
    flex-direction: column;
   
}

.massageStart{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 0pt 0pt 50pt 0pt;
}

.messageAboutUsMain{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 0pt 70pt 0pt 0pt;

}

.messageTitle{
    width: 350pt;
    display: flex;
    font-size: 24pt;
    color:white;
    justify-content: left;
    padding-bottom: 18pt;
    font-family: 'Proxima Nova', sans-serif;
}

.messageText{
    width: 350pt;
    display: flex;
    font-size: 12pt;
    color:white;
    font-family: 'Proxima Nova', sans-serif;
}

.massageBotton{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
   
}

.messageAboutUsBotton{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 350pt;
    height: 200pt;
    margin: 0pt 0pt 0pt 70pt;

}

.messageTextBotton{
    width: 350pt;
    display: flex;
    font-size: 12pt;
    color:white;
font-family: 'Proxima Nova', sans-serif;
}

.messageTitleBotton{
    width: 350pt;
    display: flex;
    font-size: 18pt;
    color:white;
    justify-content: left;
    padding-bottom: 20pt;
    font-family: 'Proxima Nova', sans-serif;
}