* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Proxima Nova", sans-serif;
    list-style: none;
}

li {
    list-style: none;
}

body {
    background: #162831;
}

.container {
    margin: 0 auto;
    max-width: 1000pt;
    width: 100%;
}


header > .container{
    
}