.slide5{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 100pt;
}

.typesOfPools{
    display: flex;
    flex-direction: column;
}

.PoolOne{
    padding: 40pt;
    background-color: #018ABE;
    Width:320pt;
    Height:240pt;
    border-radius: 10pt;
}
.ulNevskiy{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding-bottom: 10pt;
}

.ulMetro{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding-bottom: 10pt;
}

.ulZapich{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding-bottom: 10pt;
}

.ulNevskiyLI{
    padding-left: 15pt;
   color: white;
}

.ulMetroLi{
    padding-left: 15pt;
    color: white;
}

.ulZapichLi{
    padding-left: 15pt;
    color: white;
}

.poolTitle{
    color: white;
    padding-bottom: 20pt;
}

.buttonRecord{
    display: inline-flex;
    padding: 9pt 15pt;
    justify-content: center;
    align-items: center;
    border-radius: 3pt;
    background: var(--white, #FFF);
    border: none;
    color: #018ABE;
    margin-top:20pt;
}


.PoolTwo{
    padding: 40pt;
    background-color: #018ABE;
    Width:320pt;
    Height:240pt;
    border-radius: 10pt;
    margin-top: 25pt;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1000pt;
    margin: 80pt 0pt 20pt 0pt;

}

.textFooter{
    color: white;
}